.upload-form-container {
    max-width: 400px;
    margin: 45px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.upload-form-title {
    text-align: center;
    margin-bottom: 20px;
}
