/* TransactionList.css */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.pagination li a.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.pagination li a.prev, .pagination li a.next {
    background-color: #ddd;
}

.pagination li a.prev:hover, .pagination li a.next:hover {
    background-color: #ccc;
    cursor: pointer;
}
